/*
Theme Name: VLaunchIT I
Author: VLaunchIT
Author URI: http://www.vlaunchit.com
Description: VLaunchIT Theme for 3 columns main page and 2 columns section pages
Version: 1.0
Tags: white, three-columns, left-sidebar, black, blue, fixed-width
Created Date: 2011.05.26
This work is released under GNU General Public License, version 3 (GPL).
http://www.gnu.org/licenses/gpl.html
*/


body{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:0.9em;
	color: #666;

}
a{
	text-decoration: none;
	color:#c51371;
	border:0;
    outline: none;
}
a:hover{
	text-decoration: underline;

}
li {
	line-height: 1.6em;
	padding:0 0 0 15px;
	margin:0;
	list-style:none;
}
.entry li{
    list-style-type: disc;
    list-style-position: inside;
}
ul
{
	padding:3px;
	margin:0;
}
p
{
	line-height: 1.4em;
	padding:0;
	margin:0.8em 0;
}
td
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	color: #666;
}
h1, h2, h3, h4, h5{
    color:#73a332;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",Verdana, sans-serif;
}
a, .item h4{
    color:#c51371;
}
h1
{

	margin: 0px 0 5px 0;
	letter-spacing:-1px;
	font-size:2em;
	font-weight:normal;
}

h2
{
	font-size:1.6em;
	line-height:1.3em;
	font-weight:normal;
	margin: 24px 0 12px;
}
h2 a:hover
{
	text-decoration:underline;
}
h3{
    font-size:1.4em;
    line-height:1.3em;
	font-weight:normal;
    margin: 24px 0 12px;
}
#side_menu_wrapper_inner h3
{
	color:#fff !important;
    font-size: 18px;
}
h4{
    font-size:17px;
	font-weight:normal;
	padding:10px 0;
	margin:0px;
	line-height: 24px;
}
.item h4 , .item h4 a
{
	font-size:13px;
	font-weight:normal;
	padding:5px 0 0 0;
	margin:0px;
	line-height: 24px;
}
h5
{
	margin: 0px 0 10px 0;
	font-size:1em;
	font-weight:normal;
}
h6
{
	margin: 0px 0 10px 0;
	font-size:1.2em;
	font-weight:normal;
}

/**Displays an element in inlineb block with cross browser support**/
/*The parent of inline-block blocks*/
.temp{
    letter-spacing:-4px;/*hack for older browsers to remove the 4px gap to the right of the inline blocks*/
    word-spacing:-4px;/*hack for Opera to remove the 4px gap to the right of the inline blocks*/
}

/*the inline-block blocks*/
.submit_form{
    display:-moz-inline-stack; /*for firefox 2.0*/
    display:inline-block; /*For all non IE browsers*/
    zoom:1; /*For IE6 & IE7.  This forces hasLayout which mimics inline-block*/
    *display:inline; /*For IE6 & IE7*/
    vertical-align:top;
    letter-spacing:normal;/*restore the spacing hack in the parent for newer browsers*/
    word-spacing:normal;/*restore the spacing hack in the parent for Operal*/
}

.green_heading
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#6e9224;
	font-size:14px;
	font-weight:bold;
}
pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}
div#page {
	width: 690px;
	background-color: #fff;
	margin: 0px;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border:none;
	left:0px;
	overflow:hidden;
}
div#container {
	padding: 0px;
	overflow:hidden;
}
div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}
div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}
.label{
    font-weight: bold;
}
.item h4{
    line-height: 1;
}
img.wp-post-image{
    margin-bottom: 10px;
}
.post{
    margin: 10px 0 25px;
}
.team-names{
     height:290px;
    width: 160px;
    padding:0;
    margin:3px 0 0 10px;
}
.team-photo img{
    width:690px;
    height:auto;
}
#btnPurchase, #frmCancel{
    margin-left:5px;
    float:left !important;
}
#btn-add-gift{
    float:right;
    
}
.small {
    font-size:90%;
}
.btn{
    /*float: right;*/
    line-height: 23px;
    color:#fff;
    margin: 14px 0;

}
.btn:hover{
    cursor: pointer;
}
.btn-left-edge{
    background: url(../branches/images/button_bg.gif) left top no-repeat;
}
.btn-right-edge{
     background: url(../branches/images/button_bg.gif) right top no-repeat;
}
.btn-center{
    background-color: #9f1f63;
}

.btn-left-edge, .btn-right-edge,.btn-center{;
    height: 25px;
    float: left;
    display: block;
}
.btn-left-edge, .btn-right-edge{
    width:13px;
}

#message{
    clear: both;
    position: relative;
    text-align: left;
}
.success{
    color:#6e9224;
}
#breadcrums{
    margin-bottom:20px;
    font-size:12px;
}
.hide{
    display: none;
}
/******2010 STYLES************/
.partners
{
	line-height:20px;
	font-size:14px;
	float:left;
}
.logos
{
	clear:left;
	padding-top:10px;
}
.logo
{
    margin: 0 12px;
       vertical-align: top;
}
.logo img{
    border: none;
   height: 50px;
   width: auto;
}
tr, table, td
{
	margin:0;
	padding:0;
}

/***************2009 STYLES**************************/
#body_wrapper
{
	position:relative;
}

#outer_wrapper
{
	width:100%;
	text-align:center;
	background-color:#FFF;
	position:absolute;
	height:100%;
	top:0px; /****Important!*********/
}
img
{
	-ms-interpolation-mode:bicubic;
    border: none;
}
#inner_wrapper
{
	margin: 0 auto;
	width:987px;
	height:auto;
	text-align:left;
	background-color:#8dc63f;
	padding-bottom:0;
	/*overflow:hidden;*/
}

.purchasedItem, .inBasket
{
	/* TEMP */
	border: 3px solid red;
	background-color: pink;
}

/*********social networking********************/
#facebook_comment
{
	position:relative;
	padding:0px 0 20px 0px;
	display:block;
	width:690px;
	overflow:hidden;
	height:auto;
}
#facebook_comment h5
{
	padding-bottom:10px;
}
#facebook-like
{
	top:10px;
	position:relative;
}
#twitter
{
	top:5px;
	position:relative;
}

/***************Header Styles*********************/
#header_wrapper {
float:left;
height:198px;

position:relative;
width:100%;
}
.banner-roll{margin-left:27px;}
#bow_wrapper
{
float:left;
height:198px;
position:relative;
width:227px;
}
#header-right
{
	float:left;
	width:760px;
}
#gift-list-outter
{
	position:relative;
}
#Bow
{
	position: absolute;
	top:15px;
	left:23px;
	z-index:6;
}
#checkout a
{
color:#B6EB63;
display:block;
font-size:1.4em;
font-weight:normal;
margin-bottom:16px;
position:relative;
text-decoration:none;
width:100%;
}
#checkout a:hover
{
	color:#da2e77
}
#title {
	background-color:#8dc63f;
	z-index:1;
	display:block;
	height:14px;
}
#small_menu
{
	position:relative;
	right:44px;
}
.small_menu_item
{
background:url(../branches/images/menu-bg.png) no-repeat scroll left top transparent;
display:block;
float:right;
height:20px;
line-height:20px;
margin-left:3px;
position:relative;
text-align:center;
top:3px;
width:73px;
}
#top_menu #small_menu .small_menu_item a:hover
{
	color:#8dc63f;
}
#top_menu #small_menu .small_menu_item a, #top_menu #small_menu .small_menu_item a:visited
{
    font-size: 11px;
    line-height: 19px;
    text-transform: uppercase;
}
#top_menu
{
display:block;
height:33px;
left:20px;
position:relative;
z-index:15;
}
#top_menu .float_left
{
	text-align:left;
	float:left;
	z-index:10;
}
#top_menu .float_right
{
	float:right;
	text-align:right;

}

/****************End Header***************/

/*********************GIFT LIST****************/
#gift_list_wrapper
{
	position:relative;
	margin:0;
	height:146px;
	width: 710px;
	padding-left:0px;
	overflow:hidden;
	left:27px;
	float:left;
	z-index:10;
	display:block;
	visibility:visible;

}
.gift_list_padding
{
	width:500px;
	height:9px;
	display:block;
	clear:left;
}
.gift_list_inner_wrapper
{
	height:130px;
	position:absolute; /****important changed from relative, solves the weird offset problem****/
	width:965px; /*This value can be anything bigger than 944px*/
	left:0;
	top:0;
	padding:0;
}
.item_content_wrapper
{

	position:absolute;
	width:100%;
/*
	position:absolute;
	top:0px;
	left:5px;
	width: 107px;
	*/
}
.item_content_wrapper a
{
	text-decoration:none;

}
#arrow_left, #arrow_right{
    width: 19px;
    height: 58px;
}
#arrow_left:hover{
    background: url(../branches/images/arrow_left_white.png) no-repeat left top;
}
#arrow_right:hover{
    background: url(../branches/images/arrow_right_white.png) no-repeat left top;
}
#arrow_left{
    clear:left;
    cursor:pointer;
    display:block;
    float:left;
    left:6px;
    padding:0;
    top:38px;
    background: url(../branches/images/arrow_left.png) no-repeat left top;
    position: absolute;
}
#arrow_right{
    background-color:transparent;
    cursor:pointer;
    float:left;
    left:29px;
    padding:0;
    position:relative;
    top:38px;
    background: url(../branches/images/arrow_right.png) no-repeat left top;

}
.item {
    background-color:white;
    display:block;
    float:left;
    height:130px;
    margin:0 5px 0 0;
    overflow:hidden;
    padding:0;
    position:relative;
    top:0;
    width:114px;
    z-index:20;
}
.item_padding /*uses to pad between teh top and bottom rounded corners*/
{
	clear:right;
	float:left;
	height:119px;
	width:112px;
	display:block;
	padding:0;
	margin:0;
}
.ItemImage
{
    display:block;
    height:90px;
    left:0;
    position:absolute;
    top:34px;
    z-index:30;
}
.itemThumbTitle
{
	position:absolute;
	top:0;
	left:0;
}
.itemThumbPrice
{
	position:absolute;
	left:0;
}
.itemThumbRemain
{
	position:absolute;
	right:0;
}
.itemThumbPrice, .itemThumbRemain
{
	top:17px;
}
p.gift_item_content
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#666;
	font-size:11px;
    line-height: 19px;
	padding-right:5px;
	margin:0px;
}
.PurchasedSoldOut
{
	position:absolute;
	z-index:40;
	right:0px;
	bottom:-6px;
	height:61px;
	width:93px;
	display:block;
	cursor:pointer;
}
.PurchasedBow, .PurchasedSoldOut
{
display:block;
position:absolute;
right:0;
top:51px;
width:93px;
z-index:40;
}

.cursor
{
	cursor:pointer;
}
a.giftlist, div.item_no_link
{
left:6px;
margin:0;
position:absolute;
text-decoration:none;
top:0;
width:107px;
}
#view-more-arrow{
    position: absolute;
    top: 64px;
    right: -160px;
    z-index: 100;

}
 /*********************END GIFT LIST*******************/

 /*************Item detailed Page******************/
#item_desc_heading
{
	display:block;
height:3em;
position:relative;
width:100%;
}
div#item_description_wrapper
{

	position:relative;
	width:275px;
}
span#item_padding /*padding between item description and the status at teh bottom*/
{
	height:250px;
	width:285px;
	display:block;

}
.submit_form
{

font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
font-size:14px;
font-weight:600;
letter-spacing:1px;
position:relative;
margin: 28px 0;
text-align:right;
text-decoration:none;
width:100%;

}
#btnAdd
{
	position:relative;
	top:10px;
}
#Status
{
   display: inline;
    position: relative;
    right: 0;
}

#Status .QtyRemaining, #Status .TargetQty
{
	/*float:right;*/
	font-size:70px;
	font-weight:normal;
	line-height:70px;
	margin:0;
	padding:0;
	text-align:right;

}

#Status .remaining
{
/*float:right;*/
font-size:20px;
font-weight:bold;
letter-spacing:1.5px;
line-height:20px;
position:relative;
vertical-align:top;
top:10px;
}


/*************END Items detailed page**************************/

/**********Album section*****************/
.album_menu
{
	float:left;
}

#album_menu
{
	position:absolute;
	/*visibility:hidden;*/
	z-index:200;
	text-align:right;
	left:527px;
	width:160px;
	font-size:11px;
}
#album_top_menu
{
	line-height:3em;
	position:relative;
	bottom:11px;
	font-size:11px;
	color:#E71849;
}
#album_top_menu a
{
	text-decoration:underline;
	color:#666;
}
#album_submenu
{

	display:none;
	background-color:#FFF;
	border:1px;
	border-style:solid;
	border-color:#CCC;
	padding:10px 0;
	text-align:right;
	width:160px;
	clear:both;
	font-size:12px;

}
#album_submenu_innerwrap
{
	width:148px;
	margin-right:12px;
}
#album_submenu ul
{
	padding-bottom:10px;
	margin:0;
}
#album_submenu li
{
	width:100%;
	padding:0px;
}
#album_submenu li a
{
	text-decoration:none;
}
div#album_menu_heading
{
	cursor:pointer;
}
.album_submenu_heading
{
	font-weight:bold;
}
#itemImage
{
	margin-top:5px;
}
#itemImage img{
    width: 100%;
    height: auto;
}
.ItemDesc .right_column h1.float_left{
    width: 77%;
    margin-top: 16px;
}
/*******End Album Section*****************/

/***************Main Content Section***************************/
#body_wrapper_outer
{
	position:relative;
	width:965px;
	float:left;
	background-color:#73a332;
	overflow:hidden;
	margin:0px;
	padding:0px;
}
#body_wrapper_inner
{
	position:relative;
	float:left;
	width:955px;
	right:188px;
	background-color:#8dc63f;
	margin:0px;
	padding:0px;
}
#content_wrapper_outer
{
	width: 735px;
	height:auto;
	background-color:#FFF;
	margin: 0;
	padding:0px;
	position:relative;
	left:213px;
	float:left;
}
#content_wrapper_inner
{
	padding:15px 25px 0px 20px;

	min-height:625px;
	height:auto !important;
	height:625px;	/*for IE browsers*/
	top:0px;
	position:relative;
	margin:0px;
}

#content_wrapper_inner .left_column
{
	width:390px;
	padding:3px 0px 15px 0px;
	overflow:hidden;
	margin:0px;
}
/*for non IE browsers*/
#content_wrapper_inner .right_column
{
	width:285px;
	padding-bottom:5px;
	left:5px;
	position:relative;
	min-height:300px;
	height:310px;	/*for IE browsers*/
	height:auto !important;
	margin:0px;
}

div.news
{
position:relative;
width:100%;
}

span.read_more
{
background-color:#FFFFFF;
bottom:0;
display:block;
height:15px;
margin:0;
padding-top:0;
position:relative;
text-align:right;
width:285px;
}

p.news
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#666;
	font-size:13px;
	padding:0px 0px 10px 0px;
	text-align:justify;
	margin:5px 0px 0px 0px;
}

#highlightImageWrapper
{
	width:690px;

	height:312px;

}
.highlightImage
{
	padding:7px;
	border:1px #CCC solid;
	margin:0;
}
.highlightImageVerticalPadding
{
	width:4px;
	height:100px;
	display:block;
}
.highlightImageHorizontalPadding
{
	margin-top:4px;
}
/*************************END main content section*******************/
#side_menu_wrapper
{

	width: 198px;
	margin-left: 0px;
	padding:0;
	position:relative;
	float:left;  /******************Each element in the same row need the float property, not just the first one****************/
	left:220px;
}
#side_menu_wrapper_inner
{
	padding:8px 0px 15px 12px;
	min-height:340px;
	height:340px;	/*for IE browsers*/
	margin:0px;
	position:absolute;
	top:0px;
	left:0px;
}

.item_desc {
	font-family:Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	color:#666;
	font-size: 13px;
	text-align: left;
}

#home_main_image
{
	margin-top:25px;
}
.attachment-home-page{
    width: 376px;
    height: auto;
}
/***Font Styles***/
/*********************"a hover" has to be in a different group in order for the font defintion of "a" t owork************/
#top_menu a, #top_menu .float_left a, #top_menu .float_right a
{
color:white;
font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;

padding:0 5px;
position:relative;
text-decoration:none;
text-transform:uppercase;
}
#top_menu{
    font-size:13px;
font-weight:normal;
line-height:20px;
    margin-top: 13px;
}

.green_font
{
	color:#6e9224;
	font-weight:700;

}

.grey_font
{
	color:#666;
}
.small_green_font, .small_green_font a
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#060;
	font-size:12px;
}

#top_menu a:hover, #top_menu a:active, .red_font
{

	color: #da2e77;
}

.float_left
{
	float:left;
	clear:right;
}
.float_right
{
	float:right;
	text-align:left;
}
.clear
{
	clear:both;
}
span.side_panel
{

	width:100%;
}

#ByChequeInfo p.regular_content{
	padding:20px 20px 0;
}
p.regular_content
{
	color:#666666;
	/*font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;*/
	font-size:1em;
	margin:0;
	padding:5px 0;
}

li.side_content
{
	list-style:none;
	color:#e71849;
	padding:0;
	margin:0;
}
li.side_content a
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#c2eb6c;
	font-size:1em;
	text-decoration:none;
}
li.side_content a:hover, li.side_content a:active
{
	color: #da2e77;
}
ul.side_content
{
	padding:0px;
	margin:5px 0 0 5px;
}
span.side_emphasized
{
	color:white;
	font-size:13px;
	line-height:1.3;
	text-align:left;
	padding:0;
	margin:0;

}
div.side_panel_padding
{
	width:100px;
	height:0px;
	display:block;
}
/**********Rounded corner classes************/
.top_left_corner_green, .top_left_corner
{

	width:10px;
	height:10px;
	overflow:hidden;
	display:block;
	float:left;
	clear:both;
}
.top_right_corner_green, .top_right_corner
{
	height:10px;
	width:10px;
	display:block;
	float:right;
	clear:right;
	overflow:hidden;
}
.bottom_left_corner
{
	width:10px;
	height:10px;
	display:block;
	float:left;
	clear:both;
}
.bottom_right_corner
{
	height:10px;
	width:5px;
	display:block;
	float:right;
}
/******Bottom left and right green corners were put outside of all the container
in the main body because we want it to take on the height of the content panel.
If we were to place them inside the side panel container, then it would just take on the height
of the side panel content, which will be shorter than height of that of the content panel.  First thought
is to place them inside the body container and let them float left, but this would extends the body container
hence extending the background of the side panel, which is the effect that we don't want.
Placing them ouside of the body containers, and float them right, then move them up and over to fit them
perfectly at the bottom of the side panel, giving an illusion that it's  part of teh green panel.
*/

.bottom_left_corner_green, .bottom_right_corner_green
{
	display:block;
	float:right;
	z-index:15;
	top:-10px;
	position:relative;
	overflow:hidden;
}

.bottom_left_corner_green
{
	clear:left;
	width:10px;
	height:10px;
	right:180px;

}

.bottom_right_corner_green
{
	width:30px;
	height:10px;
	right:22px;
	background-color:#F30;
}
/******************/

.top_left_corner_green
{
	background:url(../branches/images/round-corner-borders.png) no-repeat left top;
}
.top_right_corner_green
{
	background:url(../branches/images/round-corner-borders.png) no-repeat right top;
}

.bottom_left_corner_green
{
	background:url(../branches/images/round-corner-borders.png) no-repeat 0 -40px;
}
.bottom_right_corner_green
{
	background:url(../branches/images/round-corner-borders.png) no-repeat -20px -40px;

}
.top_left_corner
{
	background:url(../branches/images/top_left_corner.jpg) no-repeat left top;
}
.top_right_corner
{
	background:url(../branches/images/top_right_corner.jpg) no-repeat right top;
}
.bottom_left_corner
{
	background:url(../branches/images/bottom_left_corner.jpg) no-repeat left bottom;
}
.bottom_right_corner
{
	background:url(../branches/images/round-corner-borders.png) no-repeat right bottom;
}

/***************/
/**********Check out page******************/
tr.ColumnHeading
{
	border-bottom:#999 thin solid;
}

td.ColumnHeading
{
	font-weight:bold;
}
hr.GiftBagSummary
{
	color:#CCC;
	width:1px;
}
div#ByChequeInfo
{
border:1px solid #CCCCCC;
display:none;
 height: auto;
    margin: 2px 0 20px;
    padding: 0 0 20px;
    width: 331px;
}
div#purchaseForm
{
	padding-bottom:10px;
	width:350px;
}

#copy_right
{
   clear: both;
    padding: 7px 20px;
    position: relative;
    text-align: center;
    width: 987px;
}

/***************END 2009 STYLES**********************/
.error {

	border: 2px solid red;

}

/****************Progress bar********************/
#progressbar, .statusbars
{
	color:#333;
	line-height:1.5em;
}
/****************Donor List*********************/
td.donor
{
	width:160px;
    vertical-align: top;
}
table.donor
{
	width:695px;
}
div.line
{
	width:75%;
	height:10px;
	background:url(../branches/images/line.jpg) repeat 2px;
	display:block;
}
/***************Finance*****************/
table.finance
{
	margin-left:13px;
	padding-bottom:10px;
}
/***************Archive Page**************/
#archive_gift_list_wrapper{
    width: 100%;
    display: inline-block;
}
#archive_gift_list_wrapper .item{
    margin:5px 10px 5px 0;
    border: 1px solid #D5CBCB;
}
/***************Orphanage Profile Page**************/
.orphange-profile img{
    width:100%;
    height:auto;
}

/**2015 fix by vn**/

#gift-list-outter-2 {
    position: relative;
}
#gift-list{
    position: relative;
    margin: 0;
    height: 130px;
    width: 716px !important;
    padding-left: 0px;
    overflow: hidden;
    left: 27px;
    float: left;
    z-index: 10;
    display: block;
    visibility: visible;
}
#gift-list .list-item{
    background-color: white;
    display: block;
    float: left;
    height: 130px;
    margin: 0 5px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: 114px;
    z-index: 20;
}
#gift-list-outter-2 #arrow_right{
    left: 22px!important;
}
#gift-list-outter-2 .stamp {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 79px;
}
.gift_list_inner_wrapper{
    display: none;

}

.list-item-title{

    font-size: 13px;
    font-weight: normal;
    padding: 5px 0 5px 5px;
    margin: 0px;
    line-height: 1;
    color: #c51371;

}

.sub-info{

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #666;
    font-size: 11px;
    line-height: 19px;
    padding: 0 4px;
    margin: 0px;

}

#Status{
    float: right;
}
#frm-purchase .form-group{
    float:right;
    margin-top: 17px;
}
#frm-purchase select{
    width: 66px;
    float:left;
}
#add-to-cart{
    margin:0 0 0 10px;
    padding: 7px;
}
/*twitter by vn*/
#the-twitter {
    display: inline-block;
    font-size: 1em;
    width: 300px;
    margin-top: 1em;
}
#sidebar-twitter {
    height: 100px;
    line-height: 1.3em;
}

.tweets{
    margin-top: 5px;
    height: 95px;
}
#receipient-list{
    padding-left: 21px;
}
#scholarship_panel{
    width: 173px;
    background-color: #9c0359 ;
    margin-right: 9px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#scholarship_panel h3{
    margin:0;
 }
/*#scholarship_panel a{
     color: #000000;
 }
#scholarship_panel a:hover{
    text-decoration: underline;
}*/
/*********************Scholarship Pages******************/
.content-left-side,.content-right-side{
    vertical-align: top;
}
.content-left-side{
    width:415px;
    display: inline-block;
    text-align: justify;
}
.content-right-side{
    width:266px;
    display: inline-block;
}
#student-list{
    margin:0 0 20px 25px;
}
#student-list li a{
    display: inline-block;
    border:1px solid  rgb(190, 190, 190);
    padding:5px;
}
#student-list li{
    list-style: none;
    display: inline-block;
    margin:2px;
    padding:0;
    float:left;
}
#student-list li img, .place-holder{
    width: 96px;
    height: 96px;
    margin-bottom: 0;
}
.place-holder{
    background: #ffffff;
}
#student-list a.active{
    background-color: #9c0670;
}
#student-list a:hover{
    background-color: #ebebf2;
    text-decoration: none;
}
.featured img{
    width: 100%;
    height: auto;
    margin-top: 6px;
}
ul.student-profile li{
    list-style: none;
    padding:0;
}

/**2016 fix**/
#payment ul.payment_methods li, #payment ul.payment_methods li  {
    list-style: none!important;
}

#checkout a img{
    vertical-align: inherit!important;
    position: relative;
    top: 1px;
}