/*-------------------------------------------------LAYOUT SECTION------------------------------------------------------*/
/**Genteral**/
/*
body{
    width:100%;
    height:100%;
    background:#436496 url(images/main_bg.jpg) no-repeat center top;
    margin:0;
}
p{
    margin: 7px 0;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clear
{
    clear:both;
}
h1{
    margin: 20px 0;
}
h2{
    margin: 20px 0;
}
h3{
    margin: 20px 0;
}
h4{
    margin: 15px 0 5px;
}
h5{
    margin: 16px 0 10px;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}
ol{
      margin-left:25px;
    padding:0;
}
a{
    outline:none;
}
ul.show-list{
    list-style-type: disc;
    margin: 10px 0 10px 40px;
}
.required-star{
    display:inline;
}
.msg{
    padding: 10px 10px 0;
}
#sidebar h3{
    padding:20px 0 0 10px;
    margin:0;
}

/****Home****/
/*****Common styles used for all layouts*****/
/**Displays an element in inlineb block with cross browser support**/
/*The parent of inline-block blocks*/
ul#menu-main, content-inner-wrap, ul.faculty, #content, #paging{
    letter-spacing:-4px;/*hack for older browsers to remove the 4px gap to the right of the inline blocks*/
    word-spacing:-4px;/*hack for Opera to remove the 4px gap to the right of the inline blocks*/
}
/*the inline-block blocks*/

ul#menu-main li, #left-column-wrap, #right-column-wrap, ul.faculty li, #content-inner-wrap, #sidebar, #paging li{
    display:-moz-inline-stack; /*for firefox 2.0*/
    display:inline-block; /*For all non IE browsers*/
    zoom:1; /*For IE6 & IE7.  This forces hasLayout which mimics inline-block*/
    *display:inline; /*For IE6 & IE7*/
    vertical-align:top;
    letter-spacing:normal;/*restore the spacing hack in the parent for newer browsers*/
    word-spacing:normal;/*restore the spacing hack in the parent for Operal*/
}


#page-wrapper {
    overflow: visible;
    margin: 0 auto;
}
#page {
    margin: 0 auto;
    width: 980px;
    overflow: hidden;
}
#headers{
   display: block;
    height: 355px;
    margin: 0 auto;
    width: 960px;
}
#logo{
    float:left;
    position:absolute;
    top:-3px;
    z-index:6;
}
#logo img{
    width:348px;
    height:129px;
}
#contact-info
{
    float:right;
    text-align:right;
    position:relative;
    z-index:5;
}

#gallery-wrapper{
    position: relative;
    z-index:0;
}
#content-wrapper{
    position:relative;
    background: url("../branches/images/content_bg.png") repeat-y center top;
	width:100%;
}
#content{
	/*padding: 10px 322px 25px 40px;*/
    padding: 10px 0 25px 33px;
    text-align:left;
    min-height: 642px;
    height:auto !important;
    height:642px;
   padding-right: 0;
}
#content-inner-wrap{
    width:635px;
   
}

#sidebar{
    background: url("../branches/images/side-bar-bg.png") no-repeat scroll right top transparent;
  position: absolute;
    right: 9px;
    top: -35px;
    width: 301px;
    z-index: 10;
}
#testimonial-wrapper, #contact-form-wrapper{
    display: block;
      position:relative;
    width: 264px;
}
#testimonial-wrapper{
	background-color: #FFFFFF;
	left: 28px;
    margin-top: 8px;
    overflow:hidden;

}
#testimonial-wrapper, #testimonial-panel ul.faculty
{
    height: 173px;
}

#contact-form-wrapper {
    background-color: #BDCEDE;
    left: 28px;
    margin-top:8px;
    text-align:left;
}
#menu-main{
    background: url("../branches/images/menu_bg.png") repeat-x scroll 0 -56px transparent;
 	left: 9px;
	top:-1px;
    position: relative;
    width: 960px;
    z-index: 2;
}
#footer-wrapper{
    position: relative;
    
}
#footer{
    width:100%;
    background:url(../branches/images/footer.png) no-repeat left top;
    display:block;
    height:97px;
}

/****Menu****/
ul#menu-main li{
    background: url("../branches/images/menu_bg.png") no-repeat scroll -2px -103px transparent;
    padding:0 11px;
     margin-left: 1px;
}
ul#menu-main li:hover, ul#menu-main li.current-menu-item{
    background: url("../branches/images/menu_bg.png") repeat-x scroll 0 -5px transparent;
}

/****Home Slide Show***/
#window, #image_reel .slide
{
	width:960px;
	display:block;
}
#window, .slide {
	height:360px;
}
#window
{
	position: absolute;
	top:0;
	left:0;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	/*background:url(images/landingpage-bg-purple.png) left top; *****/
}
#window
{
}
#image_reel {
	position: absolute;
	top: 0; left: 0;
	width:5000px;
}

#image_reel .slide
{
    position:relative;
    float: left;
}
#image_reel .not_first{
    /*display:none;*/
}
#image_reel img {
    float: left;
    height: 355px;
    width: 960px;}
#image_reel .banner-text{
    margin: 142px 0 0 50px;
    position: absolute;
    z-index: 3;
    width: 420px;
}
#image_reel .banner-image{
    position: absolute;
    z-index:2;
}
#paging{
    bottom: 13px;
    left: 149px;
    position: absolute;
    width:100px;
    z-index:20;
}
#paging li a{
    background: url("../branches/images/dots.png") no-repeat scroll right top transparent;
    display: block;
    height: 15px;
    width: 20px;
}
#paging li.active a{
    background: url("../branches/images/dots.png") no-repeat scroll right bottom transparent;

}
 ul.programs li{
   background:url(../branches/images/arrow.png) no-repeat 5px 4px;
   padding-left: 15px;
     margin:1px 0;
}
.banner-text ul.programs li:hover{
   background:url(../branches/images/arrow.png) no-repeat 5px -14px;
}

.home .entry img{
    height:auto;
     margin-bottom: 7px;
}

.home .entry ul.faculty li img{
    width:115px;
    /*height:71px;*/
    height:96px;
    border:solid 1px #d6d4d5;
}

.home ul.faculty h2{
    line-height:110%;
    margin: 0 0 10px;
}
.programs ul.faculty{
    margin-bottom:20px;
}
.programs ul.faculty h2{
    line-height:110%;
    margin: 0 0 6px;
}
li.faculty{
    width: 204px;
    margin-left:7px;
}
#testimonial-panel li.faculty{
    margin-left: 0;
    width: 138px;
}
/*****Two column layout*****/
#left-column-wrap{
    overflow:hidden;
}
.home #left-column-wrap, .home .entry img{
     width:280px;
}
.home #right-column-wrap{
    width:350px;
}
.programs #left-column-wrap{
     width:210px;
    margin-right: 20px;
}
.programs #right-column-wrap{
    border-left: 1px solid #cfcfcf;
    width:392px;
    min-height:570px;
    height:auto !important;
    height:570px;
}
.contact #left-column-wrap{
    width:220px;
}
#right-column{
    padding-left: 20px; /*gap of 30 px between left and right columns.*/
}
#right-column ul.faculty{
    margin-bottom:20px;
}
#testimonial-panel ul.faculty{
    display: block;
    width: 100%;
}
#testimonial-panel{
    position:relative;
}
#testimonial-panel li img{
    margin:10px;
    border:solid 1px #d2d2d2;
}
#footer-credits{
   height: 40px;
    padding: 0 10px;
}
.linklove{
    display:none;
}

ul.programs li a{}
/***Gallery***/
/*-------------------------------------------------TEXT STYLES SECTION------------------------------------------------------*/
body{
    font-size:13pt;

    font-family:arial,veranda, sans-serif
}
ul a{
    text-decoration:none;
}
.entry p{
    /*font-size:90%;*/

}
/*grey*/
body, .normal{
    color:#4a4a4a;
}
/*white*/
#contact-info, .banner-text a:hover, ul#menu-main li a , #footer-credits a{
    color:#fff;
}
/*light white*/
#footer-credits{
    color:#92b1df;
}
/*link blue*/
ul.programs li a{
    color:#0074b3;
}
/*dark blue*/
.banner-text,  ul#menu-main li:hover a, ul#menu-main li.current-menu-item a{
    color:#005b8e;
}
/*dark dark blue*/
h1, h2, h3, h4, h5, p.testimonial{
	color:#1c4b67;
}
h1, h2, h3{
	text-transform:uppercase;
    font-weight:normal;
}
h1{
	font-size:153%;
}
h2{
	font-size: 115%;
}
#sidebar h3{
    font-size:20px;
}
#testimonial-panel h4{
    color:#000;
    text-transform:none;
    font-size:16px;
}
p.testimonial{
display: block;
    font-size: 16px;
    font-style: italic;
    height: 123px;
    line-height: 19px;
    overflow: hidden;
    width: 100%;
}
.normal{
    font-weight:normal !important;
}

#contact-info .phone{
    font-size: 16pt;
    font-weight: bold;
    letter-spacing: 1pt;
    margin: 11px 0 1px;
}
#contact-info .address{
    font-size: 12pt;
    font-weight: bold;
}

.banner-text{
    font-family:"Century Gothic", Verdana, sans-serif;
}
.banner-text ul.programs li a{
    font-weight: bold;
}
#image_reel .banner-title{
    font-size: 25pt;
    font-weight: bold;
    line-height: 20pt;
    text-transform: uppercase;
     margin: 12px 0;
}
#image_reel .banner-tagline{
    font-size: 14pt;
    font-style: italic;
    line-height: 16pt;
}
#image_reel .banner-courses{
    font-size: 12pt;
    font-weight: bold;
    margin: 16px 0 0 40px;
    text-transform: uppercase;
}
#image_reel .banner-courses ul{
    font-size: 10.5pt;
    line-height: 14pt;
    font-weight: normal;
    margin-top: 4px;
}

ul#menu-main li a{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height:46px;
}
.home #left-column-wrap{
    text-align:justify;
}
#left-column-wrap, #right-column-wrap{
    
}
#footer-credits{
    font-size:11pt;
}

#footer-credits a{
    text-decoration:none;
}
#content ul.programs li a:hover, #content ul.programs li:hover a, #content ul.programs li.selected a{
    background-color:#0074b3;
    color:#fff;
     display: block;
    width: 200px;
}
.required-star{
    color:#ff0000;
}
.msg{
    color:#000;
    font-size:15px;
}

*/