li#accordion-section-lighthouse_new h3, li#accordion-section-lighthouse_contact h3, li#accordion-section-lighthouse_rating h3 {
    border-left: 5px solid #fab526 !important;
    color: #ca8e11 !important;
}

#masthead{
}
#main{
    padding:60px 30px 30px 0
}
#main .row{
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*margin-top: 10px;
    padding: 10px;*/
}
/*#navigation_menu, nav .navbar, .navbar-default{*/
    /*min-height: 102px;*/
/*}*/
@media (max-width: 768px) {


}
#navigation_menu .navbar-header{
    position: relative;
    z-index: 9999;
}
#navigation_menu{

}
@media (max-width: 767px) {

    .navbar-default .navbar-collapse {
        border-top: none;
    }
    .navbar-fixed-top .navbar-collapse{
        margin-top: 40px;
    }
}
.navbar-fixed-top .navbar-collapse{
   /* margin-top: 20px;*/
}

/**GIFT LIST**/
#gift-list{
    position: relative;
}
#gift-list-wrapper {
}
#view-cart-btn-wrapper,#gift-list-wrapper{
    background-color: transparent!important;
    text-align: center;
    margin: auto;
    margin-top: 10px;

}
#gift-list-mobile-wrapper {
    display: none;
}
#gl-inner-wrapper{
    margin:5px 0 0 7px;
}
@media (max-width: 767px) {
    #gift-list-mobile-wrapper {
        display: inline-block;
        /* text-align: center; */
        position: absolute;
        z-index: 9999;
        margin-left: 85px;
        /* float: left; */
        /* vertical-align: text-bottom; */
        top: 0;
    }
    .seccond-menu{
        position: relative;
        z-index: 99999;
    }
}


#gift-list-mobile-wrapper{
    /*
    margin-top: 10px;
    */
}
.navbar-brand img{
    width: auto;
    height: 71px;
    margin:0;
}
@media (max-width: 480px) {
    #gift-list-mobile-wrapper .btn{
        padding: 10px;
    }
    #gift-list-mobile-wrapper {
    }


}
@media (max-width: 600px) {
    .navbar-brand img{
        width: 75px;
        height: 60px;
    }
}
/**item**/
#item-breadcrum{
    color: black!important;
}
#Status .QtyRemaining, #Status .TargetQty {
    /* float: right; */
    font-size: 70px;
    font-weight: normal;
    line-height: 70px;
    margin: 0;
    padding: 0;
    text-align: right;
}
.green_font {
    color: #6e9224;
}
#Status{
    width: 100%;
    text-align: right;
}
#frm-purchase{
    margin-top: 25px;
    float: right;
}
#frm-purchase select {
    height: 43px;
    width: 66px;
    float: left;
}
.ItemDesc .btn-success{
    float: right;
}
#frm-purchase #add-to-cart{
    padding: 15px 25px;
    margin: 0 15px;
}
.left_column{
    margin: 20px;

}
.left_column{
    width: 40%;
}
.right_column{
    width: 52%
}
@media (max-width: 480px) {
    .left_column,.right_column{
        width: 90%;
    }
}
.list-item{
}
.page .oms-page-content{
    min-height: 835px;
}
#content{
    margin: auto;
}
.oms-page-content{
  /*  margin-top: 70px;*/
}
.oms-page-content .content-wrapper{
}
#primary{

}
#primary .row{
    margin-right: 0;
    margin-left: 0;
}
.jigoshop .site-content{
    width: 100%;
}
#content-inner-wrap .ItemDesc .right_column{
}
/**sidebar**/
#side_menu_wrapper{
    float: right;

    padding: 10px;
    margin-top: 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: black!important;
}
.btn{
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    border-radius: 3px!important;
    padding: 8px 11px!important;


}
@media (max-width: 1366px) {
    .side-panel{
        margin-bottom: 20px;
    }
}
@media (max-width: 1024px) {

    #side_menu_wrapper {
        top: 50px!important;
        right: 20px!important;
    }

    .side-panel header{
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .side-panel{
        margin-bottom: 5px;
    }
    .side-panel h3{
        margin: 4px 0;
    }
    #scholarship_panel {

    }

}
#social-wrap{

}
@media (max-width: 768px) {
    .side-panel header{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .side-panel{
        margin-bottom: 0px;
    }

}
@media (max-width: 767px) {
    #side_menu_wrapper {
        position: fixed;
        top: 80px!important;
        left: 0px;
        width: 100%;
        z-index: 9999!important;
    }
    #home-slider #side_menu_wrapper{
        position: fixed;
        top: 80px!important;
        left: 0px;
    }
    .side-panel{
        display: none;
        width:100%;
    }
    #social-wrap{
    }
    .active-panel{
        display: block;
    }
    #secondary-menu{
        margin-right: 20px;
    }
}

#navigation_menu .navbar-brand:hover{
   background-color: #770f47;
}
#top_menu{
    position: relative;
}

#side_menu_wrapper ul{
    padding-left: 10px!important;

}

#menu-main a{
    background: none;
}

#menu-main .dropdown-menu a:hover, #menu-main .dropdown-menu .active a{
    background-color: #9F1E63 !important;
}

@media (min-width:768px) and (max-width:1199px) {

    #menu-main a{
        padding: 15px 5px;
    }

}
.side_content{
    list-style: none;
}
.list-item{
    display: inline-block;
    float: left;
    background-color: #ffffff;
    width: 180px;
    height: 210px;
    border: 1px solid #cecece;
    padding: 10px;
}

.list-item-details{
    font-size: 2rem;
}
.list-img-container{
    text-align: center;
}

.float_left{
    float: left;
}
.float_right{
    float: right;
}
/**cart**/
.toggle-group .toggle-on{
    padding-left: 10px;
}
.toggle-group .toggle-off{
    padding-right: 10px;
}
.toggle-group label{
    font-size: 14px;
}
@media (min-width: 480px) {
    .home-page .list-item{
        width:165px;
    }
    #navigation_menu button{
        padding: 12px!important;
        margin: 10px!important;
    }
}
@media (max-width: 480px) {
    table.shop_table th {
        padding: 0 !important;
    }

    table.shop_table {
    }
    .home-page .list-item{
        width:100%;
    }
    #navigation_menu button{
        padding: 9px!important;
        margin: 4px!important;
    }
}
@media (max-width: 900px) {
    #payment input {
        width: 10px;
    }
}
    /**Students/Orphanages**/
#student-list,#orphanage-list,.student-profile{
    list-style: none;
    padding: 0;
}
#orphanage-list .orphanage-wrap{
    margin-bottom: 50px;
}

.orphanage-wrap{
}

.student-wrap img{

}
.image-wrap{
    height: 100%;
}
#orphanage-list h2{
    margin: 0 0 20px 0;
}
.student-profile .label{
    color: black;
}
.single-student .content-left-side .featured, .single-student .content-left-side .student-profile{
    float: left;

}

/**slider**/

/**fonts**/
p {
    margin-bottom: 1em;
    line-height: 1.4em;
}
.list-item-title{
    padding-left: 2px;
    padding-right: 2px;
    font-size: 17px;
    color: #292929;
}

li.side_content a
{
    font-size:1em;
    text-decoration:none;
}
li.side_content a:hover, li.side_content a:active
{
}
#top_menu a{
    text-transform: uppercase;
}
.green-text{
    color: limegreen;
}
.form-cart-items thead th{
    font-size: 18px;
}
.form-cart-items tfoot td a{
    font-size: 18px!important;
    color: white!important;
}
.past-drive-slider{
    background-color: #000 !important;
}