html body{
    background-color: #fff;
    line-height: 1.4em;
}
body h1, body h2, body h3{
    margin:20px 0
}
body .btn, body #content a.button, button, button:hover, body input[type=button], body input[type=reset], body input[type=submit]{
    background-image: none;
    background-color: #1489c1;
    color: #fff;
    padding: 8px 11px;
    margin: 5px 0;
    border: none;
}
body .btn.btn-primary, body .btn, #content a.button{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
body .btn.btn-default{
    background-color: #383838;
    border: none;
    text-shadow: none;
}
body .btn:hover, #content a.button:hover, body input[type=button]:hover, body input[type=reset]:hover, body input[type=submit]:hover{
    color: #fff;
    opacity: 0.7;
}
body #content a.button, body input, body input[type=submit], body input[type=text], body textarea, label.checkbox{
    font-size: 18px !important;

}
.seccond-menu{
    float:right;
}
#home-slider #side_menu_wrapper{
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
}
#home-sidebar{
    margin: 0 auto;
    position: relative;
    right: 15px;
}
#content a:hover{
    color: #c51371;
}
#content a, #content a:visited{
    color: #337ab7;
}
#content a.btn, #content a.btn:visited{
    color: #fff;
}
#content table td, #content table th{
    border: none;
    padding: 10px;
}
#content tbody tr:nth-child(odd) {
    background-color: #f9f8f8;
}
#navigation_menu{
    position: relative;
}
header .navbar-default{
    background-color:#9F1E63;
    color: #fff;
    min-height: 60px;
}
header .navbar-brand{
    display: inline-block;
    background: #8bce31;
    height: auto;
    position: absolute;
    top: 8px;
}
#masthead .navbar-default .navbar-nav > .active > a, #masthead .navbar-default .navbar-nav > .active > a:hover,
masthead .navbar-default .navbar-nav > .active > a:focus, #masthead .lh-nav-bg-transform .navbar-nav>li>a:hover {
    color: #fff !important;
    background-color:#770f47;
;
}
#masthead{
    position: relative;
    width: 100%;
}
#masthead .lh-nav-bg-transform .navbar-nav>li>a{
    color: #fff !important;
    text-shadow: none;
}
#masthead .navbar-nav>li>a{
    padding: 20px 25px
}
#masthead .navbar-nav.seccond-menu>li>a{
    padding:20px;
}
.seccond-menu .fa{
    color: #8bce31;
}
.navbar-brand{
    box-shadow: 0px 0px 8px #6b274b;
}
.navbar{
    position: relative;
    width: 100%;
}
.side-panel{
    border: 1px solid #cecece;
    margin-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.75);
}
.side-panel header{
    padding: 12px 20px;
    min-height: 220px;
}
.side-panel section{
}
.side-panel .progress{
    margin-bottom: 0;
    border-radius: 0;
    height: 25px;
    clear: both;
    box-shadow: none;
    background-color: #e2e2e2;
    background-image: none;
}
#progressbar{
    background-color: #8bce31;
}
#education_progressbar{
    background-color: #c51371;
}
.side-panel .progress-bar{
    background-image: none;
    padding: 2px 0;
    font-size: 16px;
    font-weight: bold;
}
.side-panel .statusbar{
}
.side-label{
    font-weight: 800;
    color: black;
}
.side-emphasized{
    font-weight: 800;
    color:  #c51371;
}
.side-add-info{
    margin: 5px 0;
}
.side-panel-info-wrap{
}
.side-panel h3{
    margin: 10px 0;
}
.call-to-action{

}
#gift-drive_panel .call-to-action{
    margin: 24px 0;
}
#order_review table:last-child{
    display: none;
}
.finance img{
    width: 45px;
    height: auto;
    margin: 0
}
.list-item:hover .sub-info{
    color: #c51371;
}
#payment div.payment_box{
    background-color:#dbffd0 !important;
}
.drive-content{
    margin-top: 18px;
}
.ItemDesc{
    margin: 30px 0;
    display: inline-block;
}
#main #payment #place_order:hover{
    border:none;
}
/* Scholarship page */
.student-wrap{
    border: 1px solid #cecece;
    padding: 20px;
    width: 43%;
    float: left;
    margin: 20px;
    min-height: 345px;
}
.student-info label::after{
    content: ": ";
}
.student-info p{
    margin: 0 0;
}
.student-wrap.good{

}
.student-wrap.poor{
    background-color: #f0f0f0;
}
.student-wrap.graduated{
    background-color: #d5e6ef;
}
#item-title p{
    margin-bottom:0;
}
#scholarship-slider{
    margin-bottom: 50px;
}

.past-campaign .drive-meta{
    margin-top: 17px;
    padding-left: 0;
}
.past-campaign .sub-info, .past-campaign .stamp{
    display: none;
}
.past-campaign .list-item{
    height: 180px;
}
@media (min-width: 1200px){
    #home-sidebar{
        width: 1170px;
    }
}
@media (max-width: 900px){
    #orphanage-list h2{
        margin: 0 0 20px 0;
    }
    body h1, body h2, body h3{
        margin:20px 0
    }
    .student-wrap{
        width:100%;
    }

}
@media (min-width: 900px){
    .image-wrap {
        padding: 0 20px 0 0;
    }
}

